body {
  background: #fafafa;
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  color: #444;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* utils
---------------------------------------- */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* header
---------------------------------------- */
.page-header {
  padding: 15px;
  background-color: #fbef37;
  overflow: hidden;
}

.avatar {
  float: left;
}

.avatar-img {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatar-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.avatar-location {
  font-size: 13px;
}

.avatar-text {
  font-weight: normal;
  margin: 0;
}

.avatar-email {
  color: #999;
  margin: 0;
}

.tags {
  float: right;
  text-align: right;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}
@media only screen and (max-width: 480px) {
  .tags {
    text-align: center;
    padding-bottom: 15px;
  }
}

.tags-text {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .tags-text {
    font-size: 24px;
  }
}

.tags-list {
  display: inline-block;
  list-style: none;
}

.tags-list-item {
  display: inline-block;
}
.tags-list-item a {
  display: block;
  padding: 5px 10px;
  color: #444;
}
.tags-list-item.active a {
  color: #53befc;
  border-bottom: 1px solid #53befc;
}

/* intro-list
---------------------------------------- */
.intro-list {
  margin-top: 100px;
  padding: 20px 0;
}
@media only screen and (max-width: 480px) {
  .intro-list {
    margin-top: 50px;
  }
}

.intro-item {
  float: left;
  width: 33.33333%;
  padding: 0 10px;
  text-align: center;
}
.intro-item img {
  width: 80%;
  max-width: 220px;
  border-radius: 50%;
}
@media only screen and (max-width: 480px) {
  .intro-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
